.parent-container {
    margin-right: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.list-container ul {
    padding: 5px;
    border-radius: 5px;
}

.adminimg {
    background: url('./../Ressources/images/Admin.png') no-repeat;
    width: 48px;
    height: 48px;
}

.adminimg:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 48px;
}

.list-container li {
    margin-left: 2px;
    margin-bottom: 6px;
}

.list-container li:hover {
    cursor: pointer;
}

.list-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

.list-container{
    position: relative;
}

#weapons {
    position: relative;
    width: 260px;
    height: 275px;
    overflow: hidden;
}

#weapons ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 300px;
}

#weapons #wclose {
    position: absolute;
    right: 0;
    margin-right: 6px;
    margin-top: 5px;
}

#vehicle {
    width: 610px;
    max-height: 525px;
    overflow: hidden;
}

#vehicle .Contents {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
}

#vehicle .Contents li {
    border-radius: 50%;
}

#vehicle #vclose {
    position: absolute;
    top: 3px;
    right: 3px;
}