.inventory-container-Global {
    background-color: rgba(0, 0, 0, 0.847);
    width: 520px;
    height: 300px;
    border-radius: 2%;
}

.item {
    width: 40px;
    height: 40px;
    border: 1px solid #212121;
    border-radius: 15%;
}

.item-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.item-draggable {
    position: absolute;
    pointer-events: none;
}

.inventory-container {
    background-color: rgba(240, 255, 240, 0.11);
    width: 500px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2%;
}

.inventory-stuff {
    background-color: rgba(240, 255, 240, 0.11);
    width: 40px;
    height: 40px;
    margin: 3px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 15%;
}

.inventory-slot {
    background-color: rgba(240, 255, 240, 0.11);
    width: 40px;
    height: 40px;
    margin: 3px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 15%;
}

.parent-container {
    margin-right: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    display: block;
}

.item-stuff {
    margin-right: 25px;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #363636a8;
    border: 1px solid #4e4e4e;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
}

label {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #f0fff0;
    width: 100%;
    margin-left: 210px;
}

.scroll {
    overflow: auto;
    margin: 0 10px;
}

.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 7px;
}

.scroll::-webkit-scrollbar-track {
    background: rgb(44, 44, 44);
    border-radius: 7px;
}

.icon {
    margin-top: 15px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}