.inventory-container-Main {
    width: 520px;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.inventory-container-sub {
    background-color: rgba(0, 0, 0, 0.847);
    width: 520px;
    height: 180px;
    border-radius: 2%;
    margin-top: 4px;
}

.inventory-subcontainer {
    background-color: rgba(240, 255, 240, 0.11);
    width: 500px;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2%;
    align-content: flex-start;
    margin-top: 10px;
    bottom: -10px;
    position: relative;
}

.inventory-container-Global {
    background-color: rgba(0, 0, 0, 0.847);
    width: 520px;
    height: 300px;
    border-radius: 2%;
    margin-top: 4px;
}

.item-information {
    background-color: rgba(0, 0, 0, 0.847);
    width: 100px;
    height: 150px;
    border-radius: 5%;
    margin-right: 10px;
    position: relative;
    visibility: hidden;
}

.item {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 15%;
    position: relative;
}

.item-image {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    display: block;
}

.item-image-infos {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    display: block;
}

.item-draggable {
    position: absolute;
    pointer-events: none;
}

.inventory-container {
    background-color: rgba(240, 255, 240, 0.11);
    width: 500px;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 2%;
    align-content: flex-start;
}

.inventory-stuff {
    background-color: rgba(240, 255, 240, 0.11);
    width: 40px;
    height: 40px;
    margin: 3px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 15%;
}

.inventory-slot {
    background-color: rgba(240, 255, 240, 0.11);
    width: 40px;
    height: 40px;
    margin: 3px;
    margin-right: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 15%;
}

.parent-container {
    margin-right: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon {
    display: block;
}

.item-stuff {
    margin-right: 25px;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #363636a8;
    border: 1px solid #4e4e4e;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    position: relative;
}

p {
    position: absolute;
    top: -10%;
    right: 5%;
    color: rgb(114, 114, 114);
    cursor: default;
}

.item-label {
    font-family: "Gill Sans", sans-serif;
    font-size: smaller;
    border-radius: 15%;
    text-align: right;
    background-color: #ffffff3a;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 40px;
}

.title_label {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #f0fff0;
    width: 100%;
    margin-left: 210px;
    bottom: -5px;
    position: relative;
}

.scroll {
    overflow: auto;
    margin: 0 10px;
}

.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 7px;
}

.scroll::-webkit-scrollbar-track {
    background: rgb(44, 44, 44);
    border-radius: 7px;
}

.icon {
    margin-top: 15px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}

.infos-button {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 20px;
    border-color: #4d4d4d;
    border-style: solid;
    border-width: 1px;
    width: 75px;
    color: #4d4d4d;
    right: -15%;
    position: relative;
}

.infos-button:hover {
    cursor: pointer;
}

#infos-image {
    margin: 5px;
}

#infos-rest {
    height: 100px;
}

#close-info:hover {
    cursor: pointer;
}