.inventory-container-Global {
    background-color: rgba(0, 0, 0, 0.847);
    width: 790px;
    height: 300px;
    border-radius: 2%;
    box-shadow: 0 0 13px black;
    user-select: none;
}

.inventory-container-SubGlobal {
    display: -webkit-inline-box;
}

.item {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(33, 33, 33);
    border-radius: 15%;
    position: relative;
    transition: 0.7s;
}

.item:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
}

.item-image {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    display: block;
}

.item-draggable {
    position: absolute;
    pointer-events: none;
}

.parent-container {
    margin-left: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon {
    display: block;
}

.item-stuff {
    margin-right: 25px;
}

td {
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #363636a8;
    border: 1px solid #4e4e4e;
}

img {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    position: relative;
}

.item-label {
    font-family: "Gill Sans", sans-serif;
    font-size: smaller;
    border-radius: 15%;
    text-align: right;
    background-color: #ffffff3a;
    text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 40px;
}

.title_label {
    font-family: "Arial Black", Gadget, sans-serif;
    color: #f0fff0;
    width: 100%;
    margin-left: 370px;
}

.scroll {
    overflow: auto;
    margin: 11px;
    background-color: rgba(240, 255, 240, 0.11);
    width: 234px;
    height: 260px;
    border-radius: 2%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 7px;
}

.scroll::-webkit-scrollbar-track {
    background: rgb(44, 44, 44);
    border-radius: 7px;
}

.icon {
    margin-top: 15px;
    margin-left: 15px;
    height: 30px;
    width: 30px;
}

.craft-container {
    position: relative;
    background-color: rgba(240, 255, 240, 0.11);
    width: 253px;
    height: 260px;
    border-radius: 2%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.craft-container div{
    background: rgba(0, 0, 0, 0.596);
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.craft-container div:hover{
    background: rgba(0, 0, 0, 0.7);
}

.craft-container div:hover{
    cursor: pointer;
}

.buttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.596);
    color: white;
    height: 40px;
    margin: 0;
    transition: 0.7s;
}

.buttons div:hover{
    background: rgba(0, 0, 0, 0.7);
}

.needing {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 5px;
    flex-wrap: nowrap;
    overflow-x: hidden;
}

.needing p{
    color: white;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0;
    margin-bottom: 4px;
    padding: 2px;
    transition: 0.7s;
}

#itemcraft:hover {
    cursor: default;
}